<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | ABC Money Transfer</title>
    
    <!-----------------------------------[Favicon]----------------------------------------->
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-32x32.png">
    <link rel="manifest" href="~/favicon/site.webmanifest">
    <!------------------------------------------------------------------------------------->

    <!------------------------------[Bootstrap CSS]--------------------------------->
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />

    <!-------------------------------[toastr CSS]----------------------------------->
    <link rel="stylesheet" href="~/lib/toastr/toastr.css">

    <!-----------------------------[Fontawesome CSS]-------------------------------->
    <link rel="stylesheet" href="~/lib/fontawesome-pro/css/all.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <!-----------------------------[Jquery]-------------------------------->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!----------------------------[toastr JS]------------------------------>
    <script src="~/lib/toastr/toastr.js"></script>

    <nav class="navbar navbar-light bg-light p-3">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
            <a asp-controller="exchangerates" asp-action="index" class="navbar-brand">
                ABC Money Transfer
            </a>
            <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a asp-controller="exchangerates" asp-action="index" class="nav-link @(ViewData["Title"]?.ToString() == "Exchange Rates" ? "active" : String.Empty)">
                                <i class="fa-solid fa-arrow-right-arrow-left fa-lg"></i>
                                <span class="ml-2">Exchange Rates</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="transfer" asp-action="send" class="nav-link @(ViewData["Title"]?.ToString() == "Transfer" ? "active" : String.Empty)">
                                <i class="fa-solid fa-money-bill-transfer fa-lg"></i>
                                <span class="ml-2">Money Transfer [M to N]</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="transaction" asp-action="index" class="nav-link @(ViewData["Title"]?.ToString() == "Transaction" ? "active" : String.Empty)">
                                <i class="fa-solid fa-table-list fa-lg"></i>
                                <span class="ml-2">Transaction</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="account" asp-action="logout" asp-route-returnUrl="@Context.Request.Path" class="nav-link">
                                <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                                <span class="ml-2">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <partial name="Partial/Toastr/Notification" />

    <!--------------------------[Bootstrap JS]----------------------------->
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>

    <!-------------------------[Fontawesome JS]---------------------------->
    <script src="~/lib/fontawesome-pro/js/all.js"></script>

    <!---------------------------[Custom JS]------------------------------->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
